/build/
/dist/
/nbproject/private/
/**/nbproject/private/
/**/dist/
/**/build/
Libraries/*/
!Libraries/embedded/
Libraries/embedded/*
!Libraries/embedded/README.md
!Libraries/embedded/utility scripts/
.~*
