/build/
/dist/
/nbproject/private/
/TreeFeller/build/
/TreeFeller/dist/
/TreeFeller/nbproject/private/
/Bukkit/Platform/nbproject/private/
/Fabric/Platform/nbproject/private/
/Builder/nbproject/private/
/Fabric/Platform/dist/
/Fabric/Platform/build/
/Bukkit/Platform/build/
/Bukkit/Platform/dist/
/Builder/build/
/Builder/dist/
/Forge/Platform/nbproject/private/
/Forge/Platform/build/
/Forge/Platform/dist/
/Neoforge/Platform/nbproject/private/
/Neoforge/Platform/dist/
/Neoforge/Platform/build/
/Sponge/Platform/nbproject/private/
/Sponge/Platform/dist/
/Sponge/Platform/build/
/Quilt/Platform/nbproject/private/
/Quilt/Platform/dist/
/Quilt/Platform/build/
/Connector/nbproject/private/
/Core/nbproject/private/
/Architect/nbproject/private/
/Architect/build/
/Architect/dist/
/Connector/build/
/Connector/dist/
/Core/build/
/Core/dist/
