/build/
/dist/
/nbproject/private/
/TreeFeller/build/
/TreeFeller/dist/
/TreeFeller/nbproject/private/
/Bukkit/Platform/nbproject/private/
/Fabric/Platform/nbproject/private/
/Builder/nbproject/private/
/Fabric/Platform/dist/
/Fabric/Platform/build/
/Bukkit/Platform/build/
/Bukkit/Platform/dist/
/Builder/build/
/Builder/dist/
/Forge/Platform/nbproject/private/
/Forge/Platform/build/
/Forge/Platform/dist/
/Neoforge/Platform/nbproject/private/
/Neoforge/Platform/dist/
/Neoforge/Platform/build/
/Sponge/Platform/nbproject/private/
/Sponge/Platform/dist/
/Sponge/Platform/build/
/Quilt/Platform/nbproject/private/
/Quilt/Platform/dist/
/Quilt/Platform/build/
/Connector/nbproject/private/
/Core/nbproject/private/
/Architect/nbproject/private/
/Architect/build/
/Architect/dist/
/Connector/build/
/Connector/dist/
/Core/build/
/Core/dist/
/Config/nbproject/private/
/Config/dist/
/Config/build/
/Forge/LegacyPlatform/nbproject/private/
/Forge/LegacyPlatform/dist/
/Forge/LegacyPlatform/build/
/Forge/Classic/Legacy/build/
/Forge/Classic/Legacy/dist/
/Forge/Classic/Legacy/nbproject/private/
/Forge/Reforged/Platform/build/
/Forge/Reforged/Platform/dist/
/Forge/Reforged/Platform/nbproject/private/
/Forge/Classic/Platform/nbproject/private/
/Forge/Classic/Platform/build/
/Forge/Classic/Platform/dist/
/Forge/TreeFellerForgeBootstrap/nbproject/private/
/Forge/Bootstrap/nbproject/private/
/Forge/Bootstrap/build/
/Forge/Bootstrap/dist/
/Sponge/API8/nbproject/private/
/Sponge/Responged/nbproject/private/
/Sponge/Platform/Responged/nbproject/private/
/Sponge/Platform/Classic/nbproject/private/
/Sponge/Platform/Classic/build/
/Sponge/Platform/Classic/dist/
/Sponge/Platform/Responged/build/
/Sponge/Platform/Responged/dist/
/Neoforge/1_21_11/nbproject/private/
/Neoforge/Platform/1_21_11/nbproject/private/
/Neoforge/Platform/1_21_6/nbproject/private/
/Neoforge/Platform/1_21_11/build/
/Neoforge/Platform/1_21_11/dist/
/Neoforge/Platform/1_21_6/build/
/Neoforge/Platform/1_21_6/dist/
/Neoforge/Platform/1_20_3/nbproject/private/
/Neoforge/Platform/1_20_3/build/
/Neoforge/Platform/1_20_3/dist/
/Neoforge/Bootstrap/nbproject/private/
/Neoforge/Bootstrap/build/
/Neoforge/Bootstrap/dist/
